/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header{
	text-align: center;
	position: sticky;
	top:1px;
	background-color:white;
}
nav{
	color:lightgray;
	display: inline-block;
	margin: auto;
	text-align: center;
	
	max-height: 200px;
	padding:1em .5em;
}
nav>*{
	display: inline-block;
	box-sizing: border-box;
}
nav a{
	color:lightgray;
	text-decoration: none;
	margin:0 2.5em;
	padding:1em 0;
}
header img{
	background-color: white;
	position: relative;
	top:10px;
}

#central section, #central img{
	display:inline-block;
	max-width:49.5%;
}
#central{
	width: 100%;
	max-height: 400px;
	margin-top:1em;
}
#central section{
	width:49%;
	margin:auto;
	text-align:center;
	padding-bottom: 10em;
	vertical-align: middle;
	font-size:24pt;
}
section button{
	margin-top:2em;
	font-size: 12pt;
}

#main{
	width:100%;
	text-align: center;
}
#main img{
	margin:auto;
}
#main section{
	text-align: left;
	display: inline-block;
}
#line1 section{
	width: 49%;
	padding:1em 0;
}
#line2 section{
	width: 32%;
	padding: 1em 0;
}
body{
	padding:0 1em;
}

footer{
	margin-top: 3em;
	text-align: center;
}